[Unit]
Description=fifigram
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/progs/fifigram
Environment="PATH=/home/northernblow/fifigram/venv/bin"
ExecStart=/root/progs/fifigram/venv/bin/python3 main.py
TimeoutSec=30
Restart=always